<div class="navbar">
  <div class="center-container">
    <mat-form-field>
      <mat-label>Select algorithm</mat-label>
      <mat-select
        [(ngModel)]="selectedAlgorithm"
        (ngModelChange)="changeAlgorithm($event)"
      >
        <mat-option
          *ngFor="let algorithm of shortestPathService.availableAlgorithms"
          [value]="algorithm.algorithm"
          >{{ algorithm.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      (click)="shortestPathService.findShortestPath()"
      class="w-100"
    >
      Find path
    </button>
  </div>
</div>
